a{
    color: #2222228c;
    font-family: "Lato", sans-serif;
}
.flexc{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    color: #2222228c;
}

h2{
    font-family: "Lato", sans-serif;
}
p{
    font-family: "Lato", sans-serif;
}
